.DS_Store
node_modules
/dist
/.VSCodeCounter

.vscode

# local env files
.env.local
.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

package-lock.json
yarn.lock

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

static.zip

pnpm-lock.yaml

packages/**/dist

packages/server/logs
packages/server/jielong.db
packages/server/data
packages/server/www
packages/server/config.json
*.local.md
www.zip

dist/
project.private.config.json

packages/weapp/miniprogram_npm
